<div class="tetx-center">
  <h1>添削されたES一覧</h1>
</div>

<div class="row ">
  <% @correctedentrysheet2s.each do |correctedentrysheet2| %>
    
      
  <div class="col-lg-6 ">
          
            <div class="card">
              <div class='card-header'>
                    
                添削したユーザー:<%= link_to correctedentrysheet2.user.name,  user_path(correctedentrysheet2.user) %> 
              </div>
          
            
              <div class="card-body">
    
            
                <p class="card-text">メモ：<%=correctedentrysheet2.memo%></p><br>
                <%= link_to '詳細', correctedentrysheet2, class: 'btn btn-sm btn-primary' %>

              </div>

            </div>
       
     
      
  </div>  
  <% end %>
</div>
  <%= paginate @correctedentrysheet2s %>