<div>
            <img src="assets/0.png" alt="TechAcademy KITCHEN"  width="1500" height="600">
             <img src="assets/1.png" alt="TechAcademy KITCHEN"  width="1500" height="600">
             <img src="assets/2.png" alt="TechAcademy KITCHEN"  width="1500" height="600">
             <img src="assets/3.png" alt="TechAcademy KITCHEN"  width="1200" height="500">
             <img src="assets/4.png" alt="TechAcademy KITCHEN"  width="1500" height="600">
             <img src="assets/5.png" alt="TechAcademy KITCHEN"  width="1500" height="900">
             <img src="assets/6.png" alt="TechAcademy KITCHEN"  width="1500" height="600">
      
</div>